swagger: '2.0'
info:
  description: |
      Application deployment and management should be automated, auditable, and easy to understand and that\'s what beetle tries to achieve in a simple manner. Beetle automates the deployment and rollback of your applications in a multi-cluster, multi-namespaces kubernetes environments. Easy to integrate with through API endpoints & webhooks to fit a variety of workflows.
  version: 0.1.0
  title: Beetle
  contact:
    email: hello@clivern.com
  license:
    name: MIT
    url: 'https://github.com/Clivern/Beetle/blob/master/LICENSE'
host: clivern.com
basePath: /
schemes:
  - https
  - http
paths:
  /_health:
    get:
      tags:
        - Healthcheck
      summary: Get system health status
      produces:
        - application/json
      parameters: []
      responses:
        200:
          description: "system healthy"
          schema:
            $ref: "#/definitions/healthResponse"
        500:
          description: "system is down"
          schema:
            $ref: "#/definitions/healthResponse"

  /_ready:
    get:
      tags:
        - Readiness
      summary: Get system readiness
      produces:
        - application/json
      parameters: []
      responses:
        200:
          description: "system ready to accept traffic"
          schema:
            $ref: "#/definitions/healthResponse"
        500:
          description: "system not ready to accept traffic"
          schema:
            $ref: "#/definitions/healthResponse"

  /metrics:
    get:
      tags:
        - Metrics
      summary: Get metrics for prometheus
      produces:
        - text/plain
      parameters: []
      responses:
        200:
          description: "system metrics"
        500:
          description: "Internal server error"

  /api/v1/cluster:
    get:
      tags:
      - "Cluster"
      summary: "Get clusters list"
      description: ""
      operationId: "getClusters"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Clusters"
        400:
          description: "Invalid request"
        500:
          description: "Internal server error"

  /api/v1/cluster/{cn}:
    get:
      tags:
      - "Cluster"
      summary: "Get cluster by name"
      description: ""
      operationId: "getClusterByName"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: cn
        description: "The name of the cluster"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Cluster"
        400:
          description: "Invalid request"
        404:
          description: "Cluster not found"
        500:
          description: "Internal server error"

  /api/v1/cluster/{cn}/namespace:
    get:
      tags:
      - "Namespace"
      summary: "Get namespaces list"
      description: ""
      operationId: "getNamespaces"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: cn
        description: "The name of the cluster"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Namespaces"
        400:
          description: "Invalid request"
        404:
          description: "Cluster not found"
        500:
          description: "Internal server error"

  /api/v1/cluster/{cn}/namespace/{ns}:
    get:
      tags:
      - "Cluster"
      summary: "Get cluster namespace by name"
      description: ""
      operationId: "getClusterNamespaceByName"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: cn
        description: "The name of the cluster"
        required: true
        type: "string"
      - in: "path"
        name: ns
        description: "The name of the cluster namespace"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Namespace"
        400:
          description: "Invalid request"
        404:
          description: "Cluster or namespace not found"
        500:
          description: "Internal server error"

definitions:
  healthResponse:
    type: "object"
    properties:
      status:
        type: "string"
  Cluster:
    type: "object"
    properties:
      name:
        type: "string"
      health:
        type: "boolean"
  Clusters:
    type: "object"
    properties:
      clusters:
        type: "array"
        items:
          $ref: "#/definitions/Cluster"
  Namespace:
    type: "object"
    properties:
      name:
        type: "string"
      uid:
        type: "string"
      status:
        type: "string"
  Namespaces:
    type: "object"
    properties:
      namespaces:
        type: "array"
        items:
          $ref: "#/definitions/Namespace"
externalDocs:
  description: Find out more about beetle
  url: 'https://github.com/Clivern/Beetle'